{% extends 'base.html'%}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hoş geldiniz</h1>
            <span class="subheading">Gönderileri görmek için 'Gönderiler' tuşuna basınız.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock %}