{% extends 'base.html'%}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <span class="meta">Admin tarafından gönderildi
              {{ post.date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          {% include 'messages.html' %}

          <p>{{ post.text }}</p>

          <video width="320" height="240" controls>
            <source src="{{ post.video.url }}" type="video/mp4">
            <source src="{{ post.video.url }}" type="video/ogg">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock %}